html {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    height: auto;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 50px;
}